

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.color1 {
    background-color: lightskyblue;
}

.color2 {
    background-color: yellow;
}

.color3 {
    background-color: lightgray ;
}

.color4 {
    background-color: #5bb551;
}

.color5 {
    background-color: #008000;
    margin-left: 90 px;
}

.color6 {
    background-color: green;
    margin-left: 42 px;
}

.color10{
   background-color: white;
}




#caja-titulo{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; <!---Ajusta el texto al div->

    background:inherit;
    background-color: rgba(0, 255, 255);
    box-sizing:border-box;
    border-width:5px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:10px;

}



#caja-menuvar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-wrap: wrap; <!---Ajusta el texto al div->

    background:inherit;
    background-color: rgba(255,255,0);
    box-sizing:border-box;
    border-width:5px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:10px;
    padding-top: 10px;


}


#caja-botones{

    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    flex-direction: column;
    padding: 10px;


    height:320px;    
    float: left;
    background:inherit;
    background-color: rgba(255, 255, 255);
    box-sizing:border-box;
    border-width:5px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:10px;
    padding-top: 10px;


}


#caja-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;

  color:#FFF;
  font-family:Arial;
  font-size: 25px;
    

    height:320px;
    float: left;
    background:inherit;
    background-color: rgba(51, 153, 51);
    box-sizing:border-box;
    border-width:5px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:10px;


}

#caja-video{
    padding: 5px;

    height:320px;
    background:inherit;
    background-color: rgba(0, 0, 0);
    box-sizing:border-box;
    border-width:5px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}



#caja-footer{

    display: flex;justify-content: center;
    align-items: center;
    flex-wrap: wrap; <!---Ajusta el texto al div->

    background:inherit;
    background-color: rgba(255,255,0);
    box-sizing:border-box;
    border-width:5px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:10px;
    padding-top: 10px;

}
.centrar button {
    margin-right: 10px;
}




#image{
      width: 40%;
      height: 40%;
      padding-top: 20px;
      padding: 20px;
}


.space {
 padding: 2px;
}
.space-row{
    border-color: white;
    border-style: solid;
    border-width: 3px;
}



.Boton {
    background-color: #ffffff;
    border-width:5px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}



/* Estilo para FormContacto */

#contacto {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}